body {
    margin: 20px;
    font-family: serif;
}
.avatar {
    border: 10px solid #2b2839;
    width: 250px;
    height: 250px;
    border-radius: 20px;
}
.card:hover{
    background-color: #acd2ed;
    color: black;
}
.card {
    font-size: 35px;
    width: 600px;
    height: 270px;
    margin: auto;
    padding: 30px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #e7ecef ;
    color: #2b2839;
    border-bottom: 3px solid ;
    border-right: 3px solid ;
    text-shadow: 2px 4px 10px darkgrey;
    border-radius: 10px;
}

